/ZenBlocksSudoku/store/screenshot-1-zen.png
/ZenBlocksSudoku/store/screenshot-2-paper.png
/ZenBlocksSudoku/store/screenshot-3-classic.png
/ZenBlocksSudoku/store/screenshot-4-colours.png
/ZenBlocksSudoku/store/tablet7-1-columns.png
/ZenBlocksSudoku/store/tablet7-2-paper.png
/ZenBlocksSudoku/store/tablet7-3-classic.png
/ZenBlocksSudoku/store/tablet7-4-colours.png
/ZenBlocksSudoku/store/tablet10-1-columns.png
/ZenBlocksSudoku/store/tablet10-2-paper.png
/ZenBlocksSudoku/store/tablet10-3-classic.png
/ZenBlocksSudoku/store/tablet10-4-colours.png
/ZenBlocksSudoku/store/feature-graphic-1024x500.png
/ZenBlocksSudoku/store/icon-512.png
